In [12]:
import pandas as pd
import numpy as np
import requests

In [2]:
res = requests.get(
    "https://clob.polymarket.com/prices-history?interval=all&market=42640553165092037846347881679624913552188313575661128788898865694578369787637&fidelity=60"
)
content = res.json()
hist = content["history"]
data = pd.DataFrame.from_dict(hist)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2109 entries, 0 to 2108
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   t       2109 non-null   int64
 1   p       2109 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 33.1 KB

In [9]:
print(data)
data.index = pd.to_datetime(data['t'], unit='s')
data.drop('t', axis=1)

                              t      p
t
2023-07-26 19:00:02  1690398002  0.205
2023-07-26 20:00:02  1690401602  0.215
2023-07-26 21:00:03  1690405203  0.210
2023-07-26 22:00:02  1690408802  0.210
2023-07-26 23:00:03  1690412403  0.205
...                         ...    ...
2023-10-22 11:00:02  1697972402  0.810
2023-10-22 12:00:02  1697976002  0.810
2023-10-22 13:00:02  1697979602  0.810
2023-10-22 14:00:02  1697983202  0.810
2023-10-22 15:00:03  1697986803  0.810

[2109 rows x 2 columns]

                         p
t
2023-07-26 19:00:02  0.205
2023-07-26 20:00:02  0.215
2023-07-26 21:00:03  0.210
2023-07-26 22:00:02  0.210
2023-07-26 23:00:03  0.205
...                    ...
2023-10-22 11:00:02  0.810
2023-10-22 12:00:02  0.810
2023-10-22 13:00:02  0.810
2023-10-22 14:00:02  0.810
2023-10-22 15:00:03  0.810

[2109 rows x 1 columns]

In [14]:
data['p'].std() / np.sqrt(252)

0.01276206605734583